.root {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  &:active,
  &:focus {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 50%;
    height: auto;
    overflow: auto;
    margin: 1rem 25%;
    padding: 0.375rem 0;
    border-radius: 1rem;
    border: 0.375rem solid #000;
    text-align: center;
    font-size: 1rem;
    z-index: 999;
  }
}
