$slideDuration: 0.75s;
$slideInLeftToRightFillAnimationMode: forwards;
$slideOutLeftToRightFillAnimationMode: forwards;

@keyframes slideInLeftToRight {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

$slideOutLeftToRightFillAnimationMode: 'both';

@keyframes slideOutLeftToRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
