.animate__animated {
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

@keyframes slideInLeftToRight {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate__slide-in--left-to-right {
  animation: ease-in 1;
  animation-name: slideInLeftToRight;
  animation-duration: 0.75s;
}

@keyframes slideOutRightToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
}

.animate__slide-out--right-to-left {
  animation: ease-out 1;
  animation-name: slideOutRightToLeft;
  animation-duration: 0.75s;
}
