$slideDuration: 0.75s;
$slideOpenFillAnimationMode: forwards;
$slideRightToLeftFillAnimationMode: forwards;

@keyframes slideOpen {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideRightToLeft {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
