@import '../../styles/animations.scss';

.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav__button--toggle {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: 0.0625rem solid silver;
  background: none;
}

.nav__menu-container {
  position: absolute;
  top: 4rem;
  left: -100%;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: 0.0625rem solid grey;
  padding: 1rem;
}

.nav__list {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  z-index: 1;
}

.nav__item {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.nav__item--link {
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
}

.nav__item--has-children .nav__item--link::after {
  content: '>';
  position: absolute;
  right: 2rem;
  bottom: 0;
}

.nav__item--has-children .nav__item--link-back::before {
  content: '<';
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav__item--has-children .nav__item--link-back::after {
  content: '';
}

.nav__item--link-back {
  padding-left: 2rem;
}

.nav__sub {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}

.open {
  @extend .animate__slide-in--left;
}

.closed {
  @extend .animate__slide-out--left;
}
