@import '../../styles/animations.scss';

.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.nav__menu-container {
  position: absolute;
  top: 4rem;
  left: -100%;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: 0.0625rem solid grey;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-right: 0.0625rem solid #333;
}

.nav__list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: calc(100vh - 4rem);
  z-index: 1;
}

.nav__item {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.nav__item--link {
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
}

.nav__item--link-forward {
  &::after {
    content: '>';
    position: absolute;
    right: 2rem;
    bottom: 0;
  }
}

.nav__item--link-back {
  padding-left: 2rem;

  &::before {
    content: '<';
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.nav__sub {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 2;
  border-right: 0.0625rem solid #333;
}

/* State Effects */
.nav--open {
  @extend .animate__slide-in--left;
}

.nav--closed {
  @extend .animate__slide-out--left;
}
