.button--hamburger {
  width: 2rem;
  border: none;
  background: none;
  transition: 0.5s ease-in-out;
  position: relative;
  outline: none;
}

.button--hamburger-slice {
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2),
  &:nth-child(3) {
    top: 0.5rem;
  }

  &:nth-child(4) {
    top: 1rem;
  }
}

.button--hamburger-open {
  .button--hamburger-slice {
    &:nth-child(1) {
      top: 1rem;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 1rem;
      width: 0%;
      left: 50%;
    }
  }
}
