.rmm__hamburger {
  border: none;
  background: none;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 5.25rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;

  @include respond-to('large') {
    display: none;
  }
}

.rmm__hamburger--slice-container {
  width: 2rem;
  position: relative;
  display: block;
  height: 1.25rem;
}

.rmm__hamburger--slice {
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2),
  &:nth-child(3) {
    top: 0.5rem;
  }

  &:nth-child(4) {
    top: 1rem;
  }
}

.rmm__hamburger--open {
  .rmm__hamburger--slice {
    &:nth-child(1) {
      top: 1rem;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 1rem;
      width: 0%;
      left: 50%;
    }
  }
}

.rmm__hamburger--closed {
  display: flex;
  @include respond-to('large') {
    display: none;
  }
}

.rmm__hamburger--label-container {
  margin-left: 1rem;
}

.rmm__hamburger--label {
  font-size: 1rem;
  font-weight: 700;
}
