.rmm__main-nav-item {
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  padding: 0;
  @include respond-to('large') {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    align-items: center;
  }
}

.rmm__main-nav-item--heading {
  font-weight: 700;
  @include respond-to('large') {
    display: none;
  }
}

.rmm__main-nav-item--children {
  @include respond-to('large') {
  }
}

.rmm__main-nav-item--forward {
  @include respond-to('large') {
    margin-right: 1rem;
  }

  &::after {
    content: url('../../images/icons/angle-right.svg');
    position: absolute;
    right: 2rem;
    bottom: -30%;
    width: 1rem;
    height: 2rem;

    @include respond-to('large') {
      content: url('../../images/icons/angle-up.svg');
      top: 1.25rem;
      right: -1.5rem;
      width: 1rem;
    }
  }
}
