.rmm__main-nav-item-link {
  width: 100%;
  display: flex;
  position: relative;
  @include respond-to('large') {
    align-items: center;
    height: 4rem;
  }
}

.rmm__main-nav-item-link--forward {
  @include respond-to('large') {
    margin-right: 1rem;
  }

  &::after {
    content: url('../../images/icons/angle-right.svg');
    position: absolute;
    right: 2rem;
    bottom: -30%;
    width: 1rem;
    height: 2rem;

    @include respond-to('large') {
      content: url('../../images/icons/angle-up.svg');
      top: 0.25rem;
      right: -0.5rem;
      bottom: initial;
      width: 1rem;
    }
  }
}

.rmm__main-nav-item-link--back {
  padding-left: 2rem;
  &::before {
    content: url('../../images/icons/angle-left.svg');
    position: absolute;
    left: 0;
    bottom: -30%;
    width: 1rem;
    height: 2rem;
  }
}

.rmm__main-nav-item-link--active {
  &::after {
    @include respond-to('large') {
      transform: rotate(180deg);
      top: 0;
    }
  }
}
