/* Demo app styling */

/* React menu styling */
#rmm__nav {
  position: fixed; /* Position fixed to make it stick to the top */
  top: 0; /* Align it to the top of the screen */
  left: 0;
  right: 0; /* Make it span the full width */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  z-index: 1000; /* High z-index to ensure it stays on top of other elements */
}

#rmm__nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#rmm__nav li {
}

.rmm__sub-menu,
.rmm__sub-menu-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.rmm__sub-menu:focus,
.rmm__sub-menu:hover,
.rmm__sub-menu-link:focus,
.rmm__sub-menu-link:hover {
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  #rmm__nav {
    /* Desktop view */
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }
}
